<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Library Management</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/dashboard.css">
    

</head>
<body>
<!-- Header -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="nav" role="navigation" style="background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span style="color:white">Library System</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
                <li><a></a></li>
                <li class="active"><a href="#"><span style="color:white">Trang chủ</span></a></li>
                <li><a href="#"><span style="color:white">Đọc giả</span></a></li>
                <li><a href="#"><span style="color:white">Tài nguyên</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            	<li><img class="img-circle" src="images/clerks/VinhPQ - Min.jpg" alt="40x40" style="height:40px; width:40px"></li>
                <li><a href="#"><strong style="color:white; font-size:14px">Vinh, Phan Quốc</strong></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color:white"></span></a></li>
            </ul>
        </div>
      </div>
    </nav>

<!-- Body -->
	<div class="container-fluid">
    <!-- Left Body -->
    	<div class="row">
        	<div class="col-sm-3 col-md-2 sidebar" style="background:#FFF">	
                <div class="row">
					<h3 class="text-primary" style="text-align:center; font-weight: bold;">Tin tức</h3>
					<div class="list-group">
						<a href="#" class="list-group-item">
							Thông báo Danh sách Sinh viên đã tham gia SHCD đầu năm NH 2014-2015
							<img src="images/icons/new.gif" style="float:right">
						</a>
						<a href="#" class="list-group-item">
							Thông báo buổi hội thảo "1001 câu hỏi về nền giáo dục và du học Úc"
							<img src="images/icons/new.gif" style="float:right">
						</a>
						<a href="#" class="list-group-item">
							Thông báo v/v nhận tiền hỗ trợ phí BHYT cho SV thuộc diện Hộ nghèo, Hộ cận nghèo NH 14-15
							<img src="images/icons/new.gif" style="float:right">
						</a>
						<a href="#" class="list-group-item">
							Lịch bảo vệ luận án Tiến sĩ cấp đơn vị chuyên môn (lần 2) của NCS. Nguyễn Thị Hồng Nhung
							<img src="images/icons/new.gif" style="float:right">
						</a>
						  <a href="#" class="list-group-item">Thông báo về kết quả đăng ký sinh hoạt công dân đầu năm năm học 2014-2015 </a>
						  <a href="#" class="list-group-item">Tài liệu ôn tập Chuyên đề Sở hữu trí tuệ và Công bố thông tin (Sinh hoạt công dân đầu năm)</a>
						  <a href="#" class="list-group-item">Thông báo về buổi giới thiệu du học Pháp và học bổng SĐH từ ĐSQ Pháp </a>
					</div>
                </div>
				<div class="row">
					<h3 class="text-primary" style="text-align:center; font-weight: bold;">Hỗ trợ sinh viên</h3>
					<div class="input-group">
                      <span class="input-group-btn">
                        <img src="images/icons/warning.png" style="width:70px;height:7 0px;">
                      </span>
                      <ul class="list-unstyled">
                      	<li><strong class="text-primary">Tư vấn viên</strong></li>
                        <li><strong>Mr.VinhPQ</strong></li>
                        <li><span>Phone: 0123456789</span></li>
                      </ul>
                    </div>
                    <div class="input-group">
                      <span class="input-group-btn">
                        <img src="images/icons/warning.png" style="width:70px;height:7 0px;">
                      </span>
                      <ul class="list-unstyled">
                      	<li><strong class="text-primary">Kỹ thuật viên</strong></li>
                        <li><strong>Mrs.HueTS</strong></li>
                        <li><span>Phone: 0987654321</span></li>
                      </ul>
                    </div>
				</div>
            </div>
    <!-- Middle Body -->
            <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
                <div class="row" id="banner" style="border-bottom: #e0e2e2 thin solid; background:#FAFBFC">
                    <div class="col-sm-12 col-md-12" style="margin:10px">
                        <div class="row">
                            <img src="images/icons/hoinghi_9.jpg" class="img-thumbnail centerPicture" style="width:95%;">
                        </div>
                    </div>
                </div>
                <div class="row main" id="main" style="border-bottom: #e0e2e2 thin solid;background:#F5F7FA">
                    <div class="row scrollDiv">
						<h1>Giới thiệu</h1>
						<p>
							Trường Đại học Khoa học Tự nhiên - ĐHQG Tp. HCM sẽ tổ chức Hội nghị khoa học lần thứ 9 vào ngày 21 tháng 11 năm 2014 tại trường, số 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Tp. HCM.
						</p>
						<br>
						<p>
							Thông qua Hội nghị các đại biểu có thể gặp gỡ, công bố và thảo luận các kết quả nghiên cứu khoa học, định hướng nghiên cứu và triển khai công nghệ trong các lĩnh vực chuyên môn. Hội nghị cũng là dịp gắn nghiên cứu khoa học với việc nâng cao chất lượng đào tạo và tăng cường hợp tác giữa các trường Đại học, Cao đẳng, và các Viện nghiên cứu trong và ngoài nước.
						</p>
						<h3>Các lĩnh vực chuyên môn tại Hội nghị Khoa học lần thứ 9</h3>
						<ul>
							<li>Toán-Tin học </li>
							<li>Vật lý-VLKT – Hải dương học</li>
							<li>Hóa học</li>
							<li>Sinh học và Công nghệ Sinh học</li>
							<li>Địa chất</li>
							<li>Môi trường</li>
							<li>Công nghệ Thông tin</li>
							<li>Điện tử - Viễn thông</li>
							<li>Khoa học Vật liệu</li>
						</ul>
					</div>
                </div>
            </div>
	<!-- Right Body -->	
			<div class="col-sm-3 col-md-2" style="background:#FFF">
                <div class="row scrollSlideBar" style="padding:10px">
					<h3 class="text-primary" style="text-align:center; font-weight: bold;">Sách mới</h3>
					<div class="thumbnail cursorPointer">
						<a href="#"><img class="img-thumbnail" src="images/books cover/Hadoop.gif" style="max-width:80%; max-height:30%"></a>
					</div>
					<div class="thumbnail cursorPointer">
						<a href="#"><img class="img-thumbnail" src="images/books cover/Spring In Practice.jpg" style="max-width:80%; max-height:30%"></a>
					</div>
					<div class="thumbnail cursorPointer">
						<a href="#"><img class="img-thumbnail" src="images/books cover/Data Mining.png" style="max-width:80%; max-height:30%"></a>
					</div>
					<div class="thumbnail cursorPointer">
						<a href="#"><img class="img-thumbnail" src="images/books cover/angularjs.jpg" style="max-width:80%; max-height:30%"></a>
					</div>
                </div>
            </div>
        </div>  
    </div>   
    
<!-- Javascript -->
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    
    <!-- Final -->
    <script type="text/javascript" src="js/manage.js"></script>  
</body>
</html>